@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Readex+Pro:wght@160..700&display=swap');

* {font-family: 'Readex Pro';}

a {
    text-decoration: none;
    color: rgb(1, 0, 0) !important;
    font-weight: 500;
}

a:hover {
    color:turquoise !important;
    text-decoration: solid;
}

hr {
    margin-top: 0px;
    margin-bottom: 5%;
}

button {
    background-color: cadetblue;
    color:floralwhite;
    font-weight: bold;
    border-radius: 5px;
}

button:hover {
    background-color: turquoise !important;
    color: black !important;
    border-color: black !important;
    text-decoration: solid;
}

[data-testid="stHorizontalBlock"] {
    display: flex;
    justify-content: center;    /* Center horizontally */
    align-items: center;        /* Center vertically */
    height: 100%;               /* Set as needed */
}